*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root, body {
    margin: 0;
    height: 100%;
    font-size: 16px;
}

.container {
    height: 100%;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

.sidebar {
    background-color: #0ea5e9;
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    padding: 20px;

    display: grid;
    grid-template-rows: 0.5fr 2fr 2fr;
    gap: 30px;
}

.logo {
    display: grid;
    gap: 10px;
    grid-template: 40px / 40px 1fr;
}

.logo > svg {
    color: #FFFFFF;
}

.logo-text {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}

.menu,
.additional {
    display: grid;
    grid-auto-flow: row;
    align-content: flex-start;
    gap: 20px;
}

.menu-item,
.additional-item {
    display: grid;
    gap: 20px;
    grid-template: 20px / 20px 1fr;
    cursor: pointer;
}

.menu-item > svg,
.additional-item > svg {
    color: #FFFFFF;
}

.dashboard-text {
    align-self: center;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
}

.header {
    background-color: #FFFFFF;
    padding: 20px 40px;
    width: 100%;
}

.header-grid {
    display: grid;
    height: 100%;
    column-gap: 30px;
    row-gap: 20px;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;
}

.search {
    grid-area: 1 / 1 / 2 / 2;

    display: grid;
    column-gap: 15px;
    grid-template-columns: 30px 1fr;
    grid-template-rows: 1fr;
}

.search > svg {
    align-self: center;
    width: 80%;
    height: auto;
}

.search > input {
    background-color: #e3eef6;
    border: none;
    border-radius: 50px;
}

.header-icon {
    background-color: red;
}

.header-profile {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
    align-self: center;

    display: grid;
    gap: 15px;
    grid-template: 20px / 20px 20px 1fr;
}

.profile-picture {
    background: url(assets/profile-picture.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
}

.header-name {
    font-weight: 700;
    font-size: 1rem;
}

.greeting {
    grid-area: 2 / 1 / 3 / 2;
    align-self: flex-end;

    display: grid;
    column-gap: 20px;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 25px 25px;
}

.greeting-profile-picture {
    grid-area: 1 / 1 / 3 / 2;

    background: url(assets/profile-picture.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
}

.hi-there {
    font-size: 0.8rem;
    font-weight: 700;
    align-self: flex-end;
}

.greeting-name {
    font-size: 1.3rem;
    font-weight: 700;
    align-self: flex-start;
}

.header-buttons {
    grid-area: 2 / 2 / 3 / 3;

    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-self: flex-end;
}

.header-buttons > button {
    padding: 10px 0;

    border: none;
    border-radius: 50px;

    background-color: #0ea5e9;

    color: #FFFFFF;
    font-weight: 500;

    cursor: pointer;
}

.main-content {
    background-color: #e3eef6;
    padding: 25px 20px;

    display: grid;
    column-gap: 20px;
    grid-template-columns: 3fr 1fr;

    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.projects-area {
    display: grid;
    grid-template-rows: auto 1fr;
}

.your-projects-text {
    padding-bottom: 15px;

    font-weight: 500;
    font-size: 1.1rem;
}

.projects-area > .cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    position: relative;
    padding: 25px;

    background-color: #FFFFFF;

    height: 200px;
    border-radius: 9px;
    box-shadow: inset 8px 0px 0px rgb(249, 154, 81), 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-weight: 700;
    font-size: 1.2rem;

    margin-bottom: 10px;
}

.card-text {
    font-weight: 300;
    font-size: 0.9rem;
}

.card-icons {
    position: absolute;
    height: 25px;
    width: 115px;

    right: 25px; 
    bottom: 25px;

    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.side-area {
    display: grid;
    gap: 30px;
    grid-template-rows: 1fr 1fr;
}

.announcements,
.trending {
    display: grid;
    grid-template-rows: auto 1fr;
}

.announcements-text,
.trending-text {
    padding-bottom: 15px;

    font-weight: 500;
    font-size: 1.1rem;
}

.announcements-area {
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 9px;

    display: grid;
    align-content: space-between;
    grid-template-rows: repeat(3, max-content);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.announcement-title,
.tag {
    font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.announcement-text,
.project-name {
    font-size: 0.8rem;
    font-weight: 300;
}

.trending-area {
    background-color: #FFFFFF;
    padding: 25px;
    border-radius: 9px;

    display: grid;
    align-content: space-between;
    align-items: center;
    column-gap: 10px;
    grid-template: repeat(4, max-content) / max-content 1fr;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.trending-profile-picture1,
.trending-profile-picture2,
.trending-profile-picture3,
.trending-profile-picture4 {
    width: 50px;
    height: 50px;
}

.trending-profile-picture1 {
    background: url(./assets/avatar1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.trending-profile-picture2 {
    background: url(./assets/avatar2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.trending-profile-picture3 {
    background: url(./assets/avatar3.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.trending-profile-picture4 {
    background: url(./assets/avatar2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
