*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root, body {
    margin: 0;
    height: 100%;
    font-size: 16px;
}

.container {
    height: 100%;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

.sidebar {
    background-color: #0ea5e9;
    grid-column: 1 / 2;
    grid-row: 1 / 3;

    padding: 20px;

    display: grid;
    grid-template-rows: 0.5fr 2fr 2fr;
    gap: 30px;
}

.logo {
    display: grid;
    gap: 10px;
    grid-template: 40px / 40px 1fr;
}

.logo > svg {
    color: #FFFFFF;
}

.logo-text {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFFFFF;
}

.menu,
.additional {
    display: grid;
    grid-auto-flow: row;
    align-content: flex-start;
    gap: 20px;
}

.menu-item,
.additional-item {
    display: grid;
    gap: 20px;
    grid-template: 20px / 20px 1fr;
    cursor: pointer;
}

.menu-item > svg,
.additional-item > svg {
    color: #FFFFFF;
}

.dashboard-text {
    align-self: center;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFFFF;
}

.header {
    background-color: #FFFFFF;
}

.main-content {
    background-color: #e3eef6;
}
